<header>
    <div class="header">
        <div class="head__block">
            <a href="index.html" class="logo">
                <div class="logo__img">
                    <img src="./images/logo.png" height="88" width="92" alt="logo">
                </div>
                <div class="logo__title">
                    <h6>АЛЬФА-КУХНИ</h6>
                    <span>Кухни на заказ</span>
                </div>
            </a>
            <div class="phones">
                <ul>
                    <li>8 8793 39-98-23</li>
                    <li>8 918 766-61-88</li>
                    <li><a href="#" class="phones__contact">Контакты</a></li>
                </ul>
            </div>
        </div>
        <nav>
            <div class="navbar">
                <ul class="navbar__list">
                    <li><a href="#" class="navbar__dropped">Кухни</a>
                        <div class="navbar__droplist">
                            <ul>
                                <li><a href="index.html">index</a></li>
                                <li><a href="call.html">call</a></li>
                                <li><a href="kitchen.html">kitchen</a></li>
                                <li><a href="tech.html">tech</a></li>
                                <li><a href="txt.html">txt</a></li>
                                <li><a href="type.html">type</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="navbar__dropped">Встраиваемая техника</a>
                        <div class="navbar__droplist">
                            <ul>
                                <li><a href="#">Мойки и смесители</a></li>
                                <li><a href="#">Варочные панели</a></li>
                                <li><a href="#">Стиральные машины</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#" class="navbar__dropped">Мебель для кухни</a>
                        <div class="navbar__droplist">
                            <ul>
                                <li><a href="#">Мойки и смесители2</a></li>
                                <li><a href="#">Варочные панели2</a></li>
                                <li><a href="#">Стиральные машины2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">мебель на заказ</a></li>
                    <li><a href="#">Элитные двери</a></li>
                    <li><a href="#">О компании</a></li>
                </ul>
            </div>
        </nav>
        <div class="info">
            <div class="info__img"></div>
            <a href="#" class="info__link">Вызвать замерщика</a>
            <span>бесплатно!</span>
        </div>
    </div>
</header>