.txt {

	&__title {
		font-size: 24px;
		margin: 32px auto;
		max-width: 1200px;
		padding-left: 93px;
		font-family: 'RobotoBold';

		&--desc {
			font-family: 'RobotoRegular';
			font-size: 14px;
			margin-top: 24px;
		}
	}

	&__section {
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
	}

	&__content {
		max-width: 950px;
		margin: 0 250px 75px 0;
		padding: 0 47px;

		h2 {
			max-width: 650px;
			margin-bottom: 40px;
		}

		p {
			// padding: 39px 0;
			line-height: 1.75em;
			font-size: 14px;
			// max-width: 795px;
		}

		h6 {
			padding: 29px 0 20px;
		}
	}

	&__dib {
		@extend .inline-block-vtop;
		width: 50%;
		box-sizing: border-box;

		&:last-child {
			padding-left: 55px;
		}
	}

	&__tabs {
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		min-width: 140px;
		a {
			position: relative;
			margin-left: 30px;
			border-bottom: 1px dotted #333;
			font-size: 12px;
			font-family: 'RobotoBold';
			line-height: 1.5em;

			&:hover, &:focus {
				text-decoration: none;
			}

			&:before {
				content: '';
				position: absolute;
				width: 10px;
				height: 6px;
				left: -15px;
				top: 5px;
				background:transparent url('/images/icons.png') -313px -17px no-repeat;
			}

			&.open:before {
				background-position: -313px -9px;
			}
		}
	}

	&__podkat {
		&:after {
			content: 'Раскрыть контент';
		}

		&.open:after {
			content: 'Закрыть контент';
		}
	}
	

	&__tab {
		max-width: 660px;
		padding: 13px 0 10px 32px;
		line-height: 1.4em;
	}

	@include e('wrap') {
		margin: 38px 0;

		&--nopad {
			margin-left: -50px;
		}
	}
	
	@include e('block') {
		margin-bottom: 30px;
		padding-top: 6px;
		box-sizing: border-box;
		p {
			line-height: 1.75em;
			padding: 0;
		}

		h3 {
			font-family: 'Robotobold';
			margin-bottom: 40px;
			margin-top: 3px;
		}
	}	

	@include e('img') {
		@include m('fl-l') {
			float: left;
			margin: 7px 50px 7px 0;
		}
	}

	@include e('list') {
		line-height: 2em;
		@include m('numb') {list-style: decimal inside;}
		@include m('marker') {list-style: disc inside}
	}

	@include e('quote') {
			border-radius: 5px;
			border: 1px solid #6a6a6a;
			box-sizing: border-box;
			font-size: 14px;
			line-height: 1.75em;
			margin: 20px 0 20px 50px;
			padding: 20px 49px 25px;
			position: relative;
			width: 800px;
		&:before,
		&:after {
			position: absolute;
			font-size: 72px;
			color: $clr-gray;
			font-family: arial;
		}
		&:before {
			content: '“';
			left: 12px;
			top: 36px;
		}
		&:after {
			content: '”';
			right: 14px;
			bottom: 1px;
		}
	}

	@include e('warn') {
		border-radius: 5px;
		border: 1px solid #e63c3e;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 1.75em;
		margin: 16px 0 20px 52px;
		padding: 20px 18px 23px 25px;
		width: 800px;
	}

	@include e('alert') {
		font-size: 14px;
		line-height: 1.3em;
		padding-left: 50px;
	}

	@include e('colont') {
		border-bottom: 1px solid #6a6a6a;
		border-top: 1px solid #6a6a6a;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 1.7em;
		margin: 50px 0 32px;
		padding: 23px 75px 27px 50px;
		width: 900px;
	}

	@include e('table') {
		display: table;
		margin: 56px 0 120px;
	}

	@include e('trow') {
		line-height: 35px;
		&:not(:first-child):not(:last-child) {
			border-bottom: 1px solid #fff;
		}
		&:hover {
			background-color: $clr-red;
			color: #fff;
			cursor: pointer;
			margin: 0 -50px;
			padding: 0 50px;
		}

		@include m('caption') {
			font-weight: bold;
			line-height: 50px;
		}
	}

	@include e('tcell') {
		font-size: 14px;
		display: table-cell;
		width: 200px;
		&:last-child {
			width: 100px;
		}
	}

	&__icons {
		line-height: 110px;
	}
}

.news-sm {
	padding: 17px 0 0 0;

	@include e('container') {
		display: inline-block;
		vertical-align: top;
		max-width: 260px;
		margin: 0 28px;
		text-align: left;
		&:hover {
			img {
				transition: all .2s ease-out .1s;
				opacity: .3;
			}
		}

		a, a:hover, a:focus {
			text-decoration: none;
		}

		@include m('big') {
			max-width: 250px;
			margin: 0 -4px 0 0;
			font-size: 14px;
			&:nth-child(even) {
				margin: 0 50px;
			}

			img {
				margin-bottom: 18px;
			}

			p {
				line-height: 1.75em;
			}
		}

		@include m('s-big') {
			max-width: 350px;
			margin: 0 46px 0 0;
			font-size: 14px;
			line-height: 1.75em;

			&:nth-child(even) {
				margin: 0;
			}

			img {
				margin-bottom: 18px;
			}

			p {
				line-height: 1.7em;
			}
		}
	}
}

.icons {
	display: inline-block;
	vertical-align: middle;
	width: 55px;
	height: 35px;
	background:transparent url('/images/icons.png') -487px 0 no-repeat;
	margin-right: 95px;

	&--doc {background-position: -487px 0;}
	&--xsl {background-position: -553px 0;}
	&--pdf {background-position: -614px 0;}
}

.video__wrap {
	position: relative;
	display: inline-block;

	& > .btn_player {
		position: absolute;
		width: 100%;
		height: 100%;
		cursor: pointer;
    	left: 0;
    	transition: background .3s ease-out 0s;
    	background: rgba(40, 51, 56, 0.8) url('/images/play.png') 50% 50% no-repeat;

    	&:hover {
    		transition: background .3s ease-out 0s;
    		background-color: rgba(40, 51, 56, 0.1);
    	}
	}
}