<div class="tech">
	<div class="tech__head">
		<div class="tech__title">
			<h1>
				Заголовок H1
			</h1>
			@@include('../breadcrumbs/breadcrumbs.html', {
			"title" : false,
			"first" : "Главная",
			"second" : "Встраиваемая техника",
			"third" : "Измельчители мусора"
		})
	</div>
	<div class="tech__tabs">
		
	</div>
</div>
<section class="txt__section">
	<div class="txt__content">
		<div class="txt__block">
			<h2>
				Заголовок H2 Профессиональные менеджеры-дизайнеры <br>
				выбранной вами Кухонной студии разработают для вас <br>
				индивидуальный дизайн-проект.
			</h2>
			<p>
				Подобную возможность дает модель кухни «Альфа Кальвадос», представленная в нашем каталоге мебели. <br>
				Минимализм по-прежнему остается актуальным в такой сфере, как дизайн мебельных изделий. Особенно <br>
				востребован он будет при оформлении небольших по размеру помещений, где помпезность классического стиля
				<br> далеко не всегда бывает уместной.
				<br>
				<br>
				В этом случае имеет смысл обратить внимание на эту модель, в которой основным украшением являются точно
				<br>выверенные прямые очертания и геометрически правильные формы.
			</p>
		</div>
		<div class="txt__block clearfix">
			<h3>
				Заголовок H3 – это, без сомнения, отличное место для экспериментов. И не только кулинарных. <br>
				Почему бы не поиграть с линиями и пространством, выстраивая его по своему усмотрению и при этом
				не перегружая лишними элементами?
			</h3>
			<div class="txt__img txt__img--fl-l">
				<img src="./images/txt-img.jpg" alt="foto">
			</div>
			<p>
				Кухня – это, без сомнения, отличное место для экспериментов.
				И не только кулинарных. Почему бы не поиграть с линиями
				и пространством, выстраивая его по своему усмотрению и при этом
				не перегружая лишнимиэлементами?
				<br>
				<br>
				Подобную возможность дает модель кухни «Альфа Кальвадос»,
				представленная в нашем каталоге мебели. Минимализм по-прежнему
				остается актуальным в такой сфере, как дизайн мебельных
				изделий.
			</p>
		</div>
		<p>
			Особенно востребован он будет при оформлении небольших по размеру помещений, где помпезность классического стиля
			далеко не всегда бывает уместной.
			<br>
			<br>
			В этом случае имеет смысл обратить внимание на эту модель, в которой основным украшением являются точно
			выверенные прямые очертания и геометрически правильные формы.
		</p>
		<div class="txt__wrap">
			<img src="./images/txt_ 700x400.jpg"  alt="foto" class="txt__img--full">
		</div>
		<div class="slider__work slider__work--full">
			<div class="slider__work--title">
				<h2>
					Галерея фото
				</h2>
				<a href="#" class="nav nav--prev"></a>
				<a href="#" class="nav nav--next"></a>
			</div>
			<div class="slider__work--window">
				<ul class="slider__wrapper">
					<li>
						<a href="./images/img1_panel.jpg" class="fancybox" rel="gallery1">
							<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
						</a>
					</li>
					<li>
						<a href="./images/img1_panel.jpg" class="fancybox" rel="gallery1">
							<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
						</a>
					</li>
					<li>
						<a href="./images/img1_panel.jpg" class="fancybox" rel="gallery1">
							<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
						</a>
					</li>
					<li>
						<a href="./images/img1_panel.jpg" class="fancybox" rel="gallery1">
							<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
						</a>
					</li>
					<li>
						<a href="./images/img1_panel.jpg" class="fancybox" rel="gallery1">
							<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
						</a>
					</li>
					<li>
						<a href="./images/img1_panel.jpg" class="fancybox" rel="gallery1">
							<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
						</a>
					</li>
					<li>
						<a href="./images/img1_panel.jpg" class="fancybox" rel="gallery1">
							<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
						</a>
					</li>
				</ul>
			</div>
		</div>


		<div class="txt__wrap">
			<div class="txt__dib">
				<p>Большинство покупателей приобретают</p>
				<ol class="txt__list txt__list--numb">
					<li>Свиней</li>
					<li>Коров</li>
					<li>Оленей</li>
					<li>Егора</li>
					<li>Олово</li>
				</ol>
			</div>

			<div class="txt__dib">
				<p>Большинство покупателей приобретают</p>
				<ul class="txt__list txt__list--marker">
					<li>Свиней</li>
					<li>Коров</li>
					<li>Оленей</li>
					<li>Егора</li>
					<li>Олово</li>
				</ul>
			</div>
		</div>

		<div class="txt__wrap--nopad">
			<!-- <div class="txt__wrap"> -->
			<p class="txt__colont">
				Кухня – это, без сомнения, отличное место для экспериментов.
				И не только кулинарных. Почему бы не поиграть с линиями
				и пространством, выстраивая его по своему усмотрению и при этом
				не перегружая лишнимиэлементами?
				<br>
				<br>
				Подобную возможность дает модель кухни «Альфа Кальвадос»,
				представленная в нашем каталоге мебели. Минимализм по-прежнему
				остается актуальным в такой сфере, как дизайн мебельных
				изделий.
			</p>
			<!-- </div> -->

			<!-- <div class="txt__wrap"> -->
			<p class="txt__alert">Важно:</p>
			<p class="txt__warn">
				Кухня – это, без сомнения, отличное место для экспериментов.
				И не только кулинарных. Почему бы поиграть с линиями
				и пространством, выстраивая его по своему усмотрению и при этом
				не перегружая лишними элементами?
				Подобную возможность дает модель кухни «Альфа Кальвадос»,
				представленная в нашем каталоге мебели. Минимализм по-прежнему
				остается актуальным в такой сфере, как дизайн мебельных
				изделий.
			</p>
			<!-- </div> -->

			<!-- <div class="txt__wrap"> -->
			<p class="txt__alert">Цитата:</p>
			<p class="txt__quote">
				Кухня – это, без сомнения, отличное место для экспериментов.
				И не только кулинарных. Почему бы поиграть с линиями
				и пространством, выстраивая его по своему усмотрению и при этом
				не перегружая лишними элементами?
				Подобную возможность дает модель кухни «Альфа Кальвадос»,
				представленная в нашем каталоге мебели. Минимализм по-прежнему
				остается актуальным в такой сфере!
			</p>
			<!-- </div> -->
		</div>
		<div class="txt__wrap">
			<div class="news-sm">
				<div class="news-sm__container news-sm__container--s-big">
					<a href="#">
						<img src="./images/photo-350x250.jpg" height="250" width="350" alt="foto">
						<p>Вы уже идёте в обычный обувной магазин?
							Сходите, может повезёт. Переходим
							к магазинам при фабриках. Да, это уже
							лучше, чем обычный магазин. Но насколько?
						</p>
					</a>
				</div>
				<div class="news-sm__container news-sm__container--s-big">
					<a href="#">
						<img src="./images/photo-350x250.jpg" height="250" width="350" alt="foto">
						<p>
							Наши, российские, фабрики могут
							и должны составлять конкуренцию
							импортным ботинкам и сапогам. И это будет,
							только когда? А пока качество «родной»
							обуви оставляет желать лучшего. Вы напрвились в сторону ближайшей обувной фабрики.
						</p>
					</a>
				</div>
			</div>
		</div>

		<div class="txt__wrap">
			<div class="news-sm">
				<div class="news-sm__wrap">
					<div class="news-sm__container news-sm__container--big">
						<a href="#">
							<img src="./images/photo-250x200.jpg" alt="foto">
							<p>
								Наши, российские, фабрики могут
								и должны составлять конкуренцию
								импортным ботинкам и сапогам. И это будет,
								только когда?
							</p>
						</a>
					</div>
					<div class="news-sm__container news-sm__container--big">
						<a href="#">
							<img src="./images/photo-250x200.jpg" alt="foto">
							<p>
								Наши, российские, фабрики могут
								и должны составлять конкуренцию
								импортным ботинкам и сапогам. И это будет,
								только когда? 
							</p>
						</a>
					</div>
					<div class="news-sm__container news-sm__container--big">
						<a href="#">
							<img src="./images/photo-250x200.jpg" alt="foto">
							<p>
								Наши, российские, фабрики могут
								и должны составлять конкуренцию
								импортным ботинкам и сапогам. И это будет,
								только когда?
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="txt__table">
			<div class="txt__row txt__trow--caption">
				<div class="txt__tcell txt__tcell--caption txt__tcell--art">АРТИКУЛ</div>
				<div class="txt__tcell txt__tcell--caption txt__tcell--mdl">МОДЕЛЬ</div>
				<div class="txt__tcell txt__tcell--caption txt__tcell--cost">ЦЕНА (руб.)</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-1210</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-1520</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-1610</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-1710</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-2010</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-2150</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-2250</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-5000</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
			<div class="txt__trow">
				<div class="txt__tcell txt__tcell--art">ML-6060</div>
				<div class="txt__tcell txt__tcell--mdl">3000</div>
				<div class="txt__tcell txt__tcell--cost">300</div>
			</div>
		</div>

		<div class="txt__wrap">
			<p>
				Кухня – это, без сомнения, отличное место для экспериментов. И не только кулинарных. Почему бы не поиграть
				с линиями и пространством, выстраивая его по своему усмотрению и при этом не перегружая лишнимиэлементами?
				<br>
				<br>
				Подобную возможность дает модель кухни «Альфа Кальвадос», представленная в нашем каталоге мебели.
				Минимализм по-прежнему остается актуальным в такой сфере, как дизайн мебельных изделий.
			</p>
		</div>

		<div class="txt__video">
			<div id="player" data-urlid="I53HDr0-Qew"></div>
		</div>

		<div class="txt__wrap">
			<div class="txt__icons">
				<span class="icons icons--doc"></span>
				<span class="icons icons--xsl"></span>
				<span class="icons icons--pdf"></span>
			</div>
		</div>

		<div class="txt__wrap--nopad">
			<div class="txt__tabs">
				<a href="#" class="txt__podkat" data-tab="txt__tab--2"></a>
				<p class="txt__tab txt__tab--2">
					Я контент!!!
				</p>
			</div>
			<div class="txt__tabs">
				<a href="#" class="open txt__podkat" data-tab="txt__tab--1"></a>
				<p class="txt__tab txt__tab--1">
					Подобную возможность дает модель кухни «Альфа Кальвадос», представленная в нашем
					Минимализм по-прежнему остается актуальным в такой сфере, как дизайн мебельных изделий
					востребован он будет при оформлении небольших по размеру помещений, где помпезность
					далеко не всегда бывает уместной.
				</p>
			</div>
		</div>

		<div class="txt__wrap">
			<h6>
				<strong>
					«Я буду долго гнать велосипед, и ты не смей меня остановить», — заявил один <br>
					из наших репортёров.
				</strong>
			</h6>
			<p>
				Подобную возможность дает модель кухни «Альфа Кальвадос», представленная в нашем каталоге мебели. <br>
				Минимализм по-прежнему остается актуальным в такой сфере, как дизайн мебельных изделий. Особенно <br>
				востребован он будет при оформлении небольших по размеру помещений, где помпезность классического стиля <br>
				далеко не всегда бывает уместной.
				<br>
				<br>
				В этом случае имеет смысл обратить внимание на эту модель, в которой основным украшением являются точно
				выверенные прямые очертания и геометрически правильные формы.
			</p>
		</div>
	</div>

	<aside>
		@@include('../adv/adv-vertical.html')
	</aside>
</section>


