<div class="content">
	<div class="content__wrap">
		<div class="content__title">
			Добавим уникальных деталей
		</div>
		<div class="content__box content__box--small">
			<div class="content__img">
				<img src="./images/img1_uniqe.jpg" height="200" width="300" alt="foto">
			</div>
			<div class="content__desc">
				<p>
					Специальный шкаф <br> для хранения вина на 12 <br> бутылок
				</p>
			</div>
		</div>
		<div class="content__box content__box--small">
			<div class="content__img">
				<img src="./images/img2_uniqe.jpg" height="200" width="300" alt="foto">
			</div>
			<div class="content__desc">
				<p>
					Нержавеющая сливалка <br> воды в  раковину, полностью <br> декорированная.
				</p>
				<a href="#" class="content__link">Узнать больше</a>
			</div>
		</div>
	</div>
	<div class="content__wrap">
		<div class="content__title">
			"Элитные двери"
		</div>
		<div class="content__box content__box--big">
			<div class="content__img">
				<img src="./images/pic_doors.jpg" height="400" width="300" alt="foto">
			</div>
			<div class="content__desc">
				<p>
					Неудевительно, что сегодня покупатели, которых интересуют лучшие производители кухонь, обращают своё внимание именно на мебель российских фабрик.
				</p>
				<p>
					Мы рады представить своим клиентам одну из таких фабрик "Альфа-Пик".
				</p>
				<a href="#" class="content__link">Перейти в каталог</a>
			</div>
		</div>
	</div>
	
</div>