.button {
	background-color: $clr-red;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;

	&:hover,
	&:focus {
		background-color: $clr-gray;
		text-decoration: none;
	}
}