.slider {
	&__work {
		margin: 0 auto;
		max-width: 1400px;
		overflow: hidden;
		position: relative;
		height: 325px;

		&:before {
			content: '';
			position: absolute;
			width: 100px;
			height: 150px;
			background:linear-gradient(to right,  $clr-body 50%, rgba(0, 0, 0, 0) 100%);
			top: 115px;
		}

		&:after {
			content: '';
			position: absolute;
			width: 100px;
			height: 150px;
			background:linear-gradient(to left,  $clr-body 50%, rgba(0, 0, 0, 0) 100%);
			top: 115px;
			right: 0;
		}

		&--window {
			max-width: 1200px;
			margin: 0 auto;
			height: 150px;
		}

		&--title {
			max-width: 1200px;
			min-width: 1024px;
			margin: 0 auto;
			padding: 44px 45px 0; 
			box-sizing: border-box;
			letter-spacing: -.3px;
			height: 115px;
		}

		ul {
			position: absolute;
			overflow: hidden;
			height: 150px;
			// width: 10000px;
		}

		li {
			float: left;
			box-sizing: border-box;
		}

		.nav {
			background:transparent url('/images/slider-btn.png') -24px 0 no-repeat;
			background-size: cover;
			width: 21px;
			height: 21px;
			top: 53px;

			&:hover {
				background-position: 0 0;
			}

			&--prev {
				left: 337px;

			}

			&--next {
				left: 377px;
			}
		}
	}
}