<div class="slider__work">
	<div class="slider__work--title">
		<h2>
			Наши работы
		</h2>
		<a href="#" class="nav nav--prev"></a>
		<a href="#" class="nav nav--next"></a>
	</div>
	<div class="slider__work--window">
		<ul class="slider__wrapper">
			<li>
				<a href="#">
					<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/img1_panel.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
		</ul>
	</div>
</div>