<footer>
	<div class="footer">
		<div class="f__block f__block--1">
			<ul>
				<li class="copyright">&copy2015  &laquoАльфа-кухни&raquo</li>
				<li>НАШ АДРЕСС: Ставропольский край,</li>
				<li>г. Пятигорск, ул. Ермолова, 48</li>
				<li>8 8793 39-98-23; 8 918 766-61-88</li>
			</ul>
			<ul class='f__work'>
				<li>ВРЕМЯ РАБОТЫ: с 9:30 до 18:00</li>
				<li>в воскресенье: с 10:00 до 14:00</li>
			</ul>
		</div>
		<div class="f__block f__block--2">
			<ul>
				<li>КУХНИ</li>
				<li><a href="#" class="f__link">Классика</a></li>
				<li><a href="#" class="f__link">Модерн</a></li>
				<li><a href="#" class="f__link">Хай-тек</a></li>
			</ul>
		</div>
		<div class="f__block f__block--3">
			<ul>
				<li>ВСТРАИВАЕМАЯ ТЕХНИКА</li>
				<li><a href="#" class="f__link">Варочные панели</a></li>
				<li><a href="#" class="f__link">Духовые шкафы</a></li>
				<li><a href="#" class="f__link">Стиральные машины</a></li>
				<li><a href="#" class="f__link">Посудомоечные машины</a></li>
			</ul>
		</div>
		<div class="f__block f__block--4">
			<ul>
				<li>МЕБЕЛЬ ДЛЯ КУХНИ</li>
				<li><a href="#" class="f__link">Столы</a></li>
				<li><a href="#" class="f__link">Стулья</a></li>
				<li><a href="#" class="f__link">Буфеты</a></li>
				<li><a href="#" class="f__link">МЕБЕЛЬ НА ЗАКАЗ</a></li>
				<li><a href="#" class="f__link">ЭДИТНЫЕ ДВЕРИ</a></li>
			</ul>
		</div>
		<div class="f__block f__block--5">
			<a href="#" class="button">вызвать замерщика</a>
			<a href="#" class="button">расчет дизайн-проекта</a>
			<ul class="socials">
				<li><a href="#" class="social social--vk"></a></li>
				<li><a href="#" class="social social--od"></a></li>
				<li><a href="#" class="social social--fb"></a></li>
			</ul>
			<p><span class="clr-dark-text">Разработка сайта -</span><a href="#">WebElement</a></p>
		</div>
	</div>
</footer>