@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html')

@@include('../components/call/call.html')


@@include('../components/footer/footer.html')
        
</div>

@@include('../components/scripts/scripts.html')

<script>
   $('div.e__dropList').selectToList({
   		title: true,
   		selection : "single", //список "multi" -чекбоксы, "single" - стандартный список на скрытых радиокнопках
	    closed: 'forse', //закрытие списка true - вкл, false - выкл, forse - закрытие при любом клике
	    scroll : false,
   });
   $( "#date" ).datepicker({
   		showOtherMonths: true,
      	selectOtherMonths: true
   });

   $('#phone').inputmask("+7 ( 999 ) 999 - 99 - 99",
		{ 
			"placeholder": "+7 ( ___ ) ___ - __ - __"
		}
	);

   // $('body').inputmask.extendDefinitions({
   //    '8': {
   //       validator: "[0-2]",
   //       cardinality: 1
   //    },
   //    '7': {
   //       validator: "[0-5]",
   //       cardinality: 1
   //    }
   // });

   $('#time-start, #time-end').inputmask('99-99',
      { 
         "placeholder": "чч-мм",
      }
   );
</script>




</body>
</html>