@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html')

@@include('../components/sliders/slider-head.html')

<div class="txt__title">
Мы предлагаем:
</div>

@@include('../components/adv/adv.html')

<div class="txt__title">
    Встраиваемая техника

    <div class="txt__title--desc">
        <p>Мы создадим для вас идеальную кухню! Вся встраиваемая техника также есть у нас</p>
        <p>Мы сможем порекомендовать лучшее решение для вашей кухни.</p>
    </div>
</div>

@@include('../components/adv/adv-tech.html')

@@include('../components/content/content.html')

@@include('../components/sliders/slider.html')

@@include('../components/footer/footer.html')
        
</div>


<script>
   
</script>




</body>
</html>
