@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html')

@@include('../components/kitchen/kitchen.html')


@@include('../components/footer/footer.html')
        
</div>

@@include('../components/scripts/scripts.html')

<script>
	$('div.slider__big').sliderShop({
  	caseLimit: 1, //кол-во товаров в витрине
    spaceSection: 'auto', //расстояние между секциями
    animation: 'slide', //тип анимации
    timer: 4000, //автопереключение
    repeat: true, //показ слайдов по кругу
    countBox: 'slider__ind', //селектор списка
    countSelect: true
});
</script>




</body>
</html>
