<div class="type">
	<div class="tech__head">
		<div class="tech__title">
			<h2>
				Кухни
			</h2>
		</div>
		<div class="tech__tabs">
			<ul>
				<li><a href="#" data-tab="tech__tab--1">модерн</a></li>
				<li><a href="#">классика</a></li>
				<li class="active"><a href="#">хай-тек</a></li>
			</ul>
		</div>
	</div>
	<section class="type__section">
		<div class="type__content">
			<div class="type__tab tech__tab--1">
				<div class="type__box">
					<a href="kitchen.html" class="link__wrap">
						<div class="type__name">
							<span>Кухня Эмаль "Версаль"</span>
							<span class="type__cost">от 75 450 руб.</span>
						</div>
						
						<div class="type__img">
							<img src="./images/type-big.jpg" alt="foto">
						</div>
					</a>
					<div class="fasad">
						<p>Выберите цвет:</p>
						<ul>
							<li>
								<a href="#">
									<img src="./images/fasad1.jpg" alt="foto">
									Белое золото
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad2.jpg" alt="foto">
									Бук Вишня
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad3.jpg" alt="foto">
									Бук Орех
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad4.jpg" alt="foto">
									Бук Черешня
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad5.jpg" alt="foto">
									Дуб Темный орех
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad6.jpg" alt="foto">
									Дуб
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad7.jpg" alt="foto">
									Бук Черешня
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="type__box">
					<a href="kitchen.html" class="link__wrap">
						<div class="type__name">
							<span>Кухня Эмаль "Версаль"</span>
							<span class="type__cost">от 75 450 руб.</span>
						</div>
						
						<div class="type__img">
							<img src="./images/type-big.jpg" alt="foto">
						</div>
					</a>
					<div class="fasad">
						<p>Выберите цвет:</p>
						<ul>
							<li>
								<a href="#">
									<img src="./images/fasad1.jpg" alt="foto">
									Белое золото
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad2.jpg" alt="foto">
									Бук Вишня
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad3.jpg" alt="foto">
									Бук Орех
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad4.jpg" alt="foto">
									Бук Черешня
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad5.jpg" alt="foto">
									Дуб Темный орех
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad6.jpg" alt="foto">
									Дуб
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad7.jpg" alt="foto">
									Бук Черешня
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="type__box">
					<a href="kitchen.html" class="link__wrap">
						<div class="type__name">
							<span>Кухня Эмаль "Версаль"</span>
							<span class="type__cost">от 75 450 руб.</span>
						</div>
						
						<div class="type__img">
							<img src="./images/type-big.jpg" alt="foto">
						</div>
					</a>
					<div class="fasad">
						<p>Выберите цвет:</p>
						<ul>
							<li>
								<a href="#">
									<img src="./images/fasad1.jpg" alt="foto">
									Белое золото
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad2.jpg" alt="foto">
									Бук Вишня
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad3.jpg" alt="foto">
									Бук Орех
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad4.jpg" alt="foto">
									Бук Черешня
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad5.jpg" alt="foto">
									Дуб Темный орех
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad6.jpg" alt="foto">
									Дуб
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/fasad7.jpg" alt="foto">
									Бук Черешня
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<aside>
			@@include('../adv/adv-vertical.html')
		</aside>
	</section>
	@@include('../paginator/pag.html')
</div>
</div>