<div class="kitchen">
	<div class="kitchen__title">
		<h2>Кухня</h2>
		<h1>Кальвадос дуб</h1>
	</div>

@@include('../sliders/slider-big.html')
	<div class="kitchen__content">
		<div class="kitchen__desc">
			<h2>Комплектация</h2>
			<p>
				Кухня &mdash; это, без сомнения, отличное место для экспериментов. И не только кулинарных.
				Почему - бы не поиграть c линиями и пространством, выстраивая его по своему усмотрению и при этом не перегружая лишними элементами?
			</p>
			<p>
				Подробную возможность дает модель кухни "Альфа Кальвадос", представленная в нашем каталоге мебели.
				Минимализм по-прежнему остается актуальным в такой сфере, как дизайн мебельных изделий.
				Особенно востребован он будет при оформлении небольших по размеру помещений, где помпезность классического 
				стиля далеко не всегда бывает уместной.
			</p>
			<p>
				В этом случае имеет смысл обратить внимание на эту модель, в которой основным украшением являются точно выверенные прямые очертания и геометрически правильные формы.
			</p>
		</div>
		<div class="order">
			<div class="order__desc">
				<p>Срок изготовления</p>
				<p>от 30 дней</p>
			</div>
			<div class="order__cost">от 26 987 руб.</div>
			<a href="#" class="order__link">Заказать рассчет</a>
		</div>
		<div class="fasad">
			<p>Варианты фасадов:</p>
			<ul>
				<li>
					<img src="./images/fasad1.jpg" alt="foto">
					Белое золото
				</li>
				<li>
					<img src="./images/fasad2.jpg" alt="foto">
					Бук Вишня
				</li>
				<li>
					<img src="./images/fasad3.jpg" alt="foto">
					Бук Орех
				</li>
				<li>
					<img src="./images/fasad4.jpg" alt="foto">
					Бук Черешня
				</li>
				<li>
					<img src="./images/fasad5.jpg" alt="foto">
					Дуб Темный орех
				</li>
				<li>
					<img src="./images/fasad6.jpg" alt="foto">
					Дуб
				</li>
				<li>
					<img src="./images/fasad7.jpg" alt="foto">
					Бук Черешня
				</li>
			</ul>
		</div>
		<div class="review">
			<div class="review__title">
				<h2>Отзывы:</h2>
			</div>
			<div class="review__container">
				<div class="review__date">24.07.2015</div>
				<div class="review__name">Евгения, Пятигорск</div>
				<p class="review__text">
					Огромное спасибо, профессионалам компании "Альфа-кухни": менеджеру
					Светлане из ТЦ ИНТЕРЬЕР PLAZA на Белой Даче. Так же бригаде сборщиков.
					Высокое качество кухонь и ваш профессионализм украшает наши будни).
				</p>
			</div>
			<div class="review__container">
				<div class="review__date">24.07.15</div>
				<div class="review__name">Евгения, Пятигорск</div>
				<p class="review__text">
					Огромное спасибо, профессионалам компании "Альфа-кухни": менеджеру
					Светлане из ТЦ ИНТЕРЬЕР PLAZA на Белой Даче. Так же бригаде сборщиков.
					Высокое качество кухонь и ваш профессионализм украшает наши будни).
				</p>
			</div>
			<div class="review__links">
				<a href="#" class="review__link--post">Оставить отзыв</a>
				<span><a href="#" class="review__link--allpost">Читать все отзывы</a> (12)</span>
			</div>
		</div>
		<div class="selection">
			<div class="selection__title">
				<h2>К этой кухне подойдут:</h2>
			</div>
			<div class="selection__wrap">
				<div class="selection__box">
					<div class="selection__img">
						<img src="./images/goods1.jpg" alt="foto">
					</div>
					<div class="selection__name">Варочная панель Electrolux</div>
					<div class="selection__product">T62R36S1</div>	
					<div class="selection__cost">
						от 75 450 руб.
					</div>
				</div>
				<div class="selection__box">
					<div class="selection__img">
						<img src="./images/goods1.jpg" alt="foto">
					</div>
					<div class="selection__name">Варочная панель Electrolux</div>
					<div class="selection__product">T62R36S1</div>
					<div class="selection__cost">
						от 75 450 руб.
					</div>
				</div>
				<div class="selection__box">
					<div class="selection__img">
						<img src="./images/goods1.jpg" alt="foto">
					</div>
					<div class="selection__name">Варочная панель Electrolux</div>
					<div class="selection__product">T62R36S1</div>
					<div class="selection__cost">
						от 75 450 руб.
					</div>
				</div>
				<div class="selection__box">
					<div class="selection__img">
						<img src="./images/goods1.jpg" alt="foto">
					</div>
					<div class="selection__name">Варочная панель Electrolux</div>
					<div class="selection__product">T62R36S1</div>
					<div class="selection__cost">
						от 75 450 руб.
					</div>
				</div>
			</div>
		</div>

	</div>
</div>