<div class="prop">
	<ul class="prop__tech">
		<li class="effect--1">
			<img src="./images/img1_panel.jpg" alt="foto">
			<a href="#" class="prop__tech--link">
				Варочные <br> панели
			</a>
			
		</li>
		<li class="effect--2">
			<img src="./images/img2_panel.jpg" alt="foto">
			<a href="#" class="prop__tech--link">
				Стиральные <br> машины
			</a>
		</li>
		<li class="effect--3">
			<img src="./images/img3_panel.jpg" alt="foto">
			<a href="#" class="prop__tech--link">
				Посудомоечные <br> машины
			</a>
		</li>
		<li class="effect--4">
			<img src="./images/img4_panel.jpg" alt="foto">
			<a href="#" class="prop__tech--link">
				Смесители <br> и мойки
			</a>
		</li>
		<div class="rama"></div>
	</ul>

</div>