<div class="prop--bg prop__vertical">
	<div>
		<a href="#" class="prop__link prop__link--sample">
			Бесплатный <br> замер
			<span>Вызывайте замерщика на дом и он всё сделает как нужно!</span>
		</a>
	</div>
	<div>
		<a href="#" class="prop__link prop__link--design">
			Дизайн-проект <br> Вашей кухни
			<span>Уникальный дизайн <br> от лучших дизайнеров сдалает Вашу кухню неповторимой.</span>
		</a>
	</div>
	<div>
		<a href="#" class="prop__link prop__link--assembly">
			Установка <br> и сборка
			<span>Профессионализм и большой опыт в сборке и установке кухонь</span>
		</a>
	</div>
	<div>
		<a href="#" class="prop__link prop__link--credit">
			Рассрочка <br> на оплату
			<span>Не располагаете всей суммой? Не беда! Оформляйте рассрочку без процентов.</span>
		</a>
	</div>
</div>