.call {
	min-height: 600px;
	max-width: 1200px;
	margin: 0 auto;

	&__section {
		position: relative;
	}

	&__desc {
		line-height: 1.8em;
		font-size: 14px;
		margin-bottom: 17px;
	}

	&__content {
		min-height: 1200px;
		box-sizing: border-box;
		background-color: #fff;
		max-width: 950px;
		margin-bottom: 50px;
		margin-right: 250px;
		padding: 33px 50px; 
	}

	&__form {

		label {
			font-size: 12px;
			line-height: 2.3em;
			position: relative;
		}

		.input {
			&--small {
				width: 120px;
				display: inline-block;
			}
		}

		textarea {
			height: 165px;
		}

		.button {
			border: 0;
			cursor: pointer;
			font-size: 12px;
			height: 50px;
			width: 200px;

			&:hover {
				background-color: $clr-red + 50;
			}
			
			&:focus {
				outline: 0;
			}
		}
	}
}

.e-form {
	margin-bottom: 22px;
	position: relative;
	width: 300px;


	&__tooltip {
		font-size: 14px;
		left: 350px;
		max-width: 50%;
		position: absolute;
		top: 22px;
		line-height: 1.4em;

		&--date {
			top: 50px;
		}
	}

	&--check {
		margin-top: 31px;
	}

	&--radio {
		margin: 15px 0 39px;
	}

	&__wrap {
		position: relative;
	}

	p {
		font-size: 12px;
		line-height: 2.1em;
		padding: 0; 
	}

	.filter-label {
		box-sizing: border-box;
		cursor: pointer;
		display: inline-block;
		font: 18px 'RobotoBold';
		padding: 12px;
		position: relative;
		vertical-align: middle;

		&:after {
			background:transparent url('/images/icons.png') -312px -18px no-repeat;
			content: '';
			height: 6px;
			position: absolute;
			right: 14px;
			top: 20px;
			width: 10px;
		}
	}
}

input[type="checkbox"]+label {
    cursor: pointer;
	padding-left: 35px;
	font-size: 14px;
}

input[type="checkbox"]:checked+label:before {
    background-position: -677px -9px;
}

input[type="checkbox"]+label:before {
	background: url("/images/icons.png") -677px -25px no-repeat;
	border: 2px solid $clr-dark;
	content: ' ';
	cursor: pointer;
	height: 16px;
	left: 8px;
	position: absolute;
	top: 0;
	width: 16px;
}

input[type="checkbox"]+label:before {
    content: ' ';
    cursor: pointer;
    display: inline-block;
}

// ===================

input[type="radio"]+label:before {
    border-radius: 8px;
    border: 4px solid #fff;
    content: ' ';
    cursor: pointer;
    height: 7px;
    left: 10px;
    position: absolute;
    width: 7px;
    top: 2px;
    box-shadow: 0 0 0 2px $clr-dark;
}

input[type="radio"]:checked+label:before {
    background-color: $clr-red;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+label {
    cursor: pointer;
	padding-left: 33px;
	font-size: 14px;
	margin-right: 21px;
}

.icons-date {
	position: absolute;
	width: 33px;
	height: 33px;
	background:transparent url('/images/icons.png') -705px 0 no-repeat;
	top: 32px;
	right: 8px;
}

#date {
	cursor: pointer;
	background:transparent url('/images/calendar.png') 258px 5px no-repeat;
}

.filter {
	&__drop {
		position: absolute;
		z-index: 10;
		background-color: #fff;
		border: 1px solid $clr-dark-default;
		top: 69px;

		label:before {
			display: none;
		}
		input[type="radio"] + label {
			display: block;
			margin-right: 0; 

			&:hover {
				background-color: $clr-dark-default;
				color: #fff;
			} 
		}

	}
}

.e__dropList {
	position: relative;

}